<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-title">Bookers</div>
        <div class = "category">
          <ul>
          <% if user_signed_in? %>
            <%= link_to (user_path(current_user.id)) do %>
              <li class="glyphicon glyphicon-home" aria-hidden="true">Home</li>
            <% end %>

            <%= link_to (users_path) do %>
              <li class="glyphicon glyphicon-user" aria-hidden="true">Users</li>
            <% end %>

            <%= link_to (books_path) do %>
              <li class="glyphicon glyphicon-book" aria-hidden="true">Books</li>
            <% end %>

            <%= link_to (destroy_user_session_path),method: :delete do %>
              <li class="glyphicon glyphicon-log-out" aria-hidden="true">logout</li>
            <% end %>

          <% else %>
            <%= link_to (root_path) do %>
              <li class="glyphicon glyphicon-home" aria-hidden="true">Home</li>
            <% end %>

            <%= link_to (home_about_path) do %>
              <li class="glyphicon glyphicon-link" aria-hidden="true">About</li>
            <% end %>

            <%= link_to (new_user_registration_path) do %>
              <li class="glyphicon glyphicon-edit" aria-hidden="true">sign up</li>
            <% end %>

            <%= link_to (new_user_session_path) do %>
              <li class="glyphicon glyphicon-log-in" aria-hidden="true">login</li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </header>
    <% if flash[:notice] %>
     <div class ="flash" >
      <%= flash[:notice] %>
     </div>
    <% end %>
    <%= yield %>
    <footer>CopyRight Infratop.inc</footer>
  </body>
</html>
